*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  color: $font-color;
  font-family: $font-family;
  background-color: $background-color;
  text-align: center;
}

.container {
  width: 80%;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
}
